.toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
  /*  background-color: #1976d2;*/
  /*background-color: black ;*/
    color: rgba( 200,222,220, 45% ) ;
    font-weight: 600;
  /*opacity: 100% ;*/
  z-index: 3 ;
  }
.toolbar-top
{
  background-color: darkblue;
  /*background-image: linear-gradient( darkblue,white, lightblue ) ;*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  opacity: 75% ;
  z-index: 2 ;

}
  .toolbar-backdrop
  {
    /*background-color: black;*/
    background-image: linear-gradient( darkblue,white, lightblue ) ;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    opacity: 100% ;
    z-index: 1 ;

  }

  .toolbar img {
    margin: 10px 16px;
  }
  .toolbar span
  {
    margin: 0 4px ;
    padding: 4px ;
    border: 2px solid white ;
    border-radius: 10% ;
  }
  .toolbar span:hover
  {
    background-color: rgba( 0,0,0,5% );
    color: white ;
  }
