<p>account-transactions works!</p>
<!--<p>transaction-list works!</p>-->
<!--id:number = 0 ;-->
<!--creationTime:string = "" ;-->
<!--modifiedTime:string = "" ;-->
<!--accountId:number = 0  ;-->
<!--txStatus:string = "" ;-->
<!--txType:string = "" ;-->
<!--txAmount:number = 0.00 ;-->
<!--<table class="table table-bordered table-striped">-->
<style>
  table
  {
    border: solid lightblue 2px ;
    width: 100%;


  }
  tr { border: solid palegoldenrod 2px ; padding: 1px ; }
  td { border: solid lightblue 1px; padding-bottom: 0px ; padding-top: 0px ;
    margin-bottom: 0px ;margin-bottom: 0px ;

  }
</style>
<table class="table-striped">

  <thead>
  <tr>
    <th><i class="fa fa-id-card"></i>Id</th>
    <th><i class="fa fa-id-card"></i>Account Id</th>
    <th><i class="fa fa-info-circle"></i>Type</th>
    <th><i class="fa fa-info-circle"></i>Amount</th>
    <th><i class="fa fa-info-circle"></i>Status</th>
    <th><i class="fa fa-info-circle"></i>Created</th>
    <th> <i class="fa fa-info-circle"></i>Updated</th>

    <th><i class="fa fa-info-circle"></i>Details</th>
    <!--    <th><i class="fa fa-pen"></i>Edit Details</th>-->
    <th><i class="fa fa-trash"></i>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let tx of accountTransactions">
    <td>{{tx.id}}</td>
    <td>{{tx.accountId}}</td>
    <td>{{tx.txType}}</td>
    <td>{{tx.txAmount}}</td>
    <td>{{tx.txStatus}}</td>
    <td>{{tx.creationTime}}</td>
    <td>{{tx.modifiedTime}}</td>

    <!--    <td> <a routerLink="/account-details/{{acct.userId}}"><button class="btn btn-primary"><i class="fa-solid fa-eye"></i>View</button></a> </td>-->
    <td> <a routerLink="/transaction-detail/{{tx.id}}"><button class="btn btn-secondary"><i class="fa-solid fa-eye"></i>View</button></a> </td>
    <!--   <td> <a routerLink="/transaction-edit/{{tx.id}}">-->
    <!--      <button class="btn btn-warning">  <i class="fa-solid fa-pen"></i>Edit</button></a></td>-->
    <td><button type="button"(click)='DeleteTransactionById(tx.id)' class="btn btn-danger"><i class="fa-solid fa-trash"></i>Delete</button></td>
  </tr>
  </tbody>
</table>

