<h2>User Details</h2>

<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-id-card"></i><b>Id :</b> {{user.id}}
    </li>

  <li class="list-group-item">
    <i class="fa fa-user"></i>Username : {{user.userName}}
  </li>

    <li class="list-group-item">
        <i class="fa fa-user"></i>Name : {{user.firstName}} {{user.lastName}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-envelope"></i>Email : {{user.emailAddress}}
    </li>

    <li class="list-group-item">
        <i class="fa fa-globe"></i>Phone : {{user.phoneNumber}}
    </li>
</ul>
<a routerLink="/account-create/{{user.id}}"><button class="btn btn-success"><i class="fa-regular fa-star"></i>New Account</button></a>
<a routerLink="/user-accounts/{{user.id}}"><button class="btn btn-primary"><i class="fa-regular fa-file"></i>Account List</button></a>
<a routerLink="/account-transfer/{{user.id}}"><button class="btn btn-secondary"><i class="fa-regular fa-arrow"></i>Transfer</button></a>
