<p>product-detail works!</p>
<!--<p>account-summary works!</p>-->
<h4>Product Detail: {{product.productNumber}}</h4>
<div>

  <ul class="list-group">
    <li class="list-group-item"><i class=" "></i>ID: {{product.id}}</li>
    <li class="list-group-item"><i class=" "></i>Product Number: {{product.productNumber}}</li>
    <li class="list-group-item"><i class=" "></i>Description: {{product.description}}</li>
    <li class="list-group-item"><i class=" "></i>Category: {{product.category}}</li>
    <li class="list-group-item"><i class=" "></i>Season: {{product.season}}</li>
    <li class="list-group-item"><i class=" "></i>Brand: {{product.brand}}</li>
    <li class="list-group-item"><i class=" "></i>Color: {{product.color}}</li>
    <li class="list-group-item"><i class=" "></i>Discount: {{product.discount}}</li>
    <li class="list-group-item"><i class=" "></i>Price: {{product.price}}</li>
    <li class="list-group-item"><i class=" "></i>Modified Date: {{product.dateModified}}</li>
    <li class="list-group-item"><i class=" "></i>Created Date: {{product.dateAdded}}</li>
  </ul>
</div>
<div>
  <!--  <br>-->
  <!--  <a routerLink="/account-deposit/{{account.id}}"><button class="btn btn-primary"><i class="fa-solid fa-pen"></i>Deposit</button></a>-->
  <!--  <a routerLink="/account-withdraw/{{account.id}}"><button class="btn btn-warning"><i class="fa-solid fa-pen"></i>Withdraw</button></a>-->
  <!--  <a routerLink="/account-transfer/{{account.userId}}"><button class="btn btn-primary"><i class="fa-solid fa-pen"></i>Transfer</button></a>-->
  <!--  <a routerLink="/account-transactions/{{account.id}}"><button class="btn btn-secondary"><i class="fa-solid fa-pen"></i>Register</button></a>-->
  <!--&lt;!&ndash;  <a routerLink="/transaction-list"><button class="btn btn-secondary"><i class="fa-solid fa-pen"></i>Register</button></a>&ndash;&gt;-->
</div>
