<!--<p>account-withdraw works!</p>-->
<div class="row">
  <div class="col-md-6 offset-3">
    <h2 class="text-primary">Submit Deposit : {{account.id}}</h2>
    <form [formGroup]="withdrawForm" (ngSubmit)="onSubmit()">
      <!--      <p>Acct No.: {{account.accountNumber}}<br>Type: {{acctTransaction.txType}}</p>-->
      <p> Create a withdraw on the selected account. Enter the amount for withdraw and select the submit button</p>
      <div [formGroup]="withdrawForm">
        <label>Account number:</label>
        <input  type="text" readonly  formControlName="accountNumber" class="form-control"
               [(ngModel)]="account.accountNumber"
               [ngClass]="{'is-invalid':submitted && form['accountNumber'].errors}">
        <div *ngIf="submitted && form['accountNumber'].errors" class="invalid-feedback">
          Account number can't be empty
        </div>
      </div>
      <div [formGroup]="withdrawForm">
        <label>Transaction type:</label>
        <input  type="text"  readonly class="form-control" formControlName="txType"
               [(ngModel)]="txType">
      </div>
      <div [formGroup]="withdrawForm">
        <label>Amount:</label>
        <input  type="number" formControlName="txAmount" class="form-control"
               [(ngModel)]="txAmount"
               [ngClass]="{'is-invalid':submitted && form['txAmount'].errors}">
        <div *ngIf="submitted && form['txAmount'].errors" class="invalid-feedback">
          You must provide a value for deposit amount
        </div>
      </div>
      <br>
      <button class="btn btn-primary">Submit Transaction</button>
    </form>
  </div>
</div>
