<!--<p>account-transfer works!</p>-->

<div class="row">
  <div class="col-md-6 offset-3">
    <h6 class="text-primary">Submit Transfer : {{userId}}</h6>

    <form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
      <p> Create a transfer to the selected recipient account from the selected source account. Enter the amount for transfer and select the submit button</p>

      <div [formGroup]="transferForm" >
        <label>Master account:</label>
        <select size="1" formControlName="masterAccountNumber" class="form-control"  [(ngModel)]="masterAccount" >
          <option disabled>select master account</option>
          <option  *ngFor="let acct of userMasterAccounts" [ngValue]="acct">{{acct.accountNumber}} {{acct.accountName}}</option>
        </select>
        <div *ngIf="submitted && formx['masterAccountNumber'].errors" class="invalid-feedback">
          Master account number can't be empty
        </div>
      </div>

      <div [formGroup]="transferForm" >
        <label>Source account:</label>
        <select size="1" formControlName="primaryAccountNumber" class="form-control"  [(ngModel)]="primaryAccount" >
        <option disabled>Select source account</option>
        <option  *ngFor="let acct of userAccounts" [ngValue]="acct">{{acct.accountNumber}} -- {{acct.accountName}}</option>
        </select>
        <div *ngIf="submitted && formx['primaryAccountNumber'].errors" class="invalid-feedback">
          Source account number can't be empty
        </div>
      </div>

      <div [formGroup]="transferForm" >
        <label>Receiving account:</label>
        <select size="1" formControlName="secondaryAccountNumber" class="form-control"  [(ngModel)]="secondaryAccount" >
          <option disabled>Select receiving account</option>
          <option  *ngFor="let acct of userAccounts" [ngValue]="acct">{{acct.accountNumber}} -- {{acct.accountName}}</option>
        </select>
        <div *ngIf="submitted && formx['secondaryAccountNumber'].errors" class="invalid-feedback">
          Receiving account number can't be empty
        </div>
      </div>

      <div [formGroup]="transferForm" >
        <label>Amount:</label>
        <input type="number" formControlName="txAmount" class="form-control"
               [(ngModel)]="transferAmount"
               [ngClass]="{'is-invalid':submitted && formx['txAmount'].errors}">
        <div *ngIf="submitted && formx['txAmount'].errors" class="invalid-feedback">
          You must provide a value for deposit amount
        </div>
      </div>

      <br>
      <button class="btn btn-primary">Submit Transaction</button>
    </form>
  </div>
</div>
<br>

